header > a{
    text-decoration: none;
}
#voltar{
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin: 0;
    padding: 20px;
    
}

#mainCadastro{
    max-width: 400px;
    padding: 1rem;
}

html, body{
    height: 100%;
}

body 
{
  background-color: rgb(240, 240, 240);
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#btnCadastrar {
    background-color: #a00000;
}
header {
    background-color: #a00000;
    width: 100%;
  }