/* Estilos específicos para as páginas de seleção de lanchonete (mapa) */

.mapboxgl-popup-content.popup-personalizado,
.popup-personalizado {
    background-color: white;
    color: black;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding: 5px;
}

/* Estilo dos botões de lanchonete */
#botoesLanchonete .btn {
    min-width: 15rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}