body 
{
    background-color: rgb(240, 240, 240);
}
header{
  background-color: #a00000;
}

.mapboxgl-popup-content.popup-personalizado,
.popup-personalizado 
{
    background-color: white;
    color: black;
    font-weight: bold;
    font-family: Arial, sans-serif;
    padding: 5px;
}
#lanchonetes-container a.btn {
  transition: all 0.3s ease;
  min-width: 220px;
}

#botoesLanchonete button {
  min-width: 15rem;
}

.dropdown-menu {
  background-color: #a00000 !important;
}

.navbar .nav-link,
.navbar .dropdown-item {
  color: white !important;
  background-color: transparent !important;
  transition: color 0.2s, text-decoration 0.2s;
}

.navbar .nav-link:hover,
.navbar .dropdown-item:hover {
  color: #a5a5a5 !important;
}