body 
{
  background-color: rgb(240, 240, 240);
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
.header-cor
{
  background-color: white;
}
.logo-container 
{
  flex: 1;
  justify-content: center;
}
.logo-img 
{
  max-height: 130px;
}
.card-img {
  filter: brightness(50%);
}

header{
  background-color: #a00000;
}