/* Estilos específicos para a página inicial (seleção de campus) */

.campus-card .card-img {
    filter: brightness(50%);
    transition: filter 0.3s ease;
}

.campus-card:hover .card-img {
    filter: brightness(70%);
}