body 
{
  background-color: #a00000;
}
.header-cor
{
  background-color: white;
}
.logo-container 
{
  flex: 1;
  justify-content: center;
}
.logo-img 
{
  max-height: 130px;
}
.card-img {
  filter: brightness(50%);
  }